<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOLO-MEDI</title>
    <link rel="stylesheet" href="../templates/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="main-logo">
                    <img src="./static/images/Blue-logo.png" alt="Main Logo"  />
                </div>
                <div class="logo"><h1>HOLO-MEDI</h1></div>
                <div class="person-logo">
                    <img src="./static/images/whiteprofile.png" alt="Main Logo" />
                </div>
            </div>
        </nav>
    </header>
    
    

    <section class="hero">
        <div class="hero-content">
            <h4>Caring For Life</h4><br>
            <h1>Leading the Way in Medical Excellence</h1>
            <p class="para">
                The Holoware Medical project aims to assist doctors 
                and patients by providing a platform to clarify doubts 
                easily and efficiently. While it offers helpful insights, 
                it is important to note that the information may 
                not always be accurate. Therefore, users are encouraged to 
                consult a doctor for professional advice. This tool 
                is designed solely for development and testing purposes, 
                ensuring continuous improvement in medical assistance.
            </p><br><br>
            <div class="hero-buttons">
                <!-- <a href="#" class="services-btn">Our Services</a> -->
                <a href="../static/chat_ui/templates/user.html" class="book-btn">Medical ChatBot</a> 
                <a href="../static/skin_ui/templates/index.html" class="book-btn">Skin Diseases Detection</a>
                <a href="../static/x-ray_ui/templates/index.html" class="book-btn">x-ray Detection</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="./static/images/aidoc.png" alt="Doctor Image">
        </div>
        <footer class="footer-container">
            <div class="footer-content">
                <p>powered by holoware</p>
                <img src="../static/chat_ui/static/images/Blue-Logo-new.png" alt="Footer Image" />
            </div>
        </footer>
    </section>
</body>
</html>
